<div class="container mt-4">
  <h2>Lista de Pedidos</h2>
  <button class="btn btn-primary mb-3" (click)="openNewPedidoModal()">Novo Pedido</button>
  <div *ngIf="alertMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>
  <div *ngFor="let pedido of pedidos" class="pedido-card card mb-3">
    <div class="card-header">
      <h5 class="card-title">Pedido ID: {{ pedido.id }}</h5>
    </div>
    <div class="card-body">
      <p><strong>Cliente:</strong> {{ pedido.cliente.razao_social }}</p>
      <p><strong>Total:</strong> {{ pedido.total | currency:'BRL':'symbol':'1.2-2' }}</p>
      <button class="btn btn-primary me-2" (click)="openEditPedidoModal(pedido)">Editar</button>
      <button class="btn btn-danger" (click)="openDeleteModal(pedido, deleteModal)">Excluir</button>
      <div class="mt-3">
        <h6>Produtos:</h6>
        <ul class="list-group">
          <li *ngFor="let produto of pedido.produtos" class="list-group-item">
            <div><strong>Produto:</strong> {{ produto.descricao }}</div>
            <div><strong>Quantidade:</strong> {{ produto.pivot.quantidade }}</div>
            <div><strong>Preço Unitário:</strong> {{ produto.pivot.valor_venda | currency:'BRL':'symbol':'1.2-2' }}</div>
            <div><strong>Subtotal:</strong> {{ produto.pivot.subtotal | currency:'BRL':'symbol':'1.2-2' }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Exclusão -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmação de Exclusão</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    Tem certeza que deseja excluir o pedido ID {{ selectedPedido?.id }}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(modal)">Excluir</button>
  </div>
</ng-template>
